# Aircraft Accident Prediction Model

***TO DO: INTRODUCTION***

## Imports
The first thing we need to do is import the following packages so we can run the model:
* `pandas`

In [1]:
import pandas as pd

Now we can import the cleaned data. If you haven't cleaned the data yet, you can run through the `cleaning.ipynb` to go through the cleaning steps, or you can download the `cleaned_data.csv` file from here. ***to do : add link***

In [13]:
df = pd.read_csv("cleaned_data.csv")

,Unnamed: 0,ev_id,acft_missing,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,acft_model,...,crew_inj_level,pc_profession,bfr_date,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used,inj_person_category,injury_level
0,0,20080107X00026_1,['N'],['NONE'],[nan],['MINR'],['NONE'],['NONE'],['PIPER'],['PA 28-180'],...,['NONE'],['No'],[Timestamp('2007-07-01 00:00:00')],[nan],[nan],[False],[nan],[nan],"['Flig', 'Flig', 'Flig', 'Flig', 'Flig']","['FATL', 'MINR', 'NONE', 'SERS', 'TOTL']"
1,1,20080107X00026_2,['N'],['NONE'],[nan],['SUBS'],['NONE'],['NONE'],['Barnard/Stancil'],['Glastar'],...,['NONE'],['No'],[Timestamp('2007-07-01 00:00:00')],[nan],[nan],[False],[nan],[nan],"['Flig', 'Flig', 'Flig', 'Flig', 'Flig', 'Pass...","['FATL', 'MINR', 'NONE', 'SERS', 'TOTL', 'NONE..."
2,2,20080107X00027_1,['N'],['IFR'],['Y'],[nan],['NONE'],['NONE'],['Pilatus'],['PC-12/45'],...,['NONE'],['UNK'],[Timestamp('2007-02-01 00:00:00')],[nan],[nan],[False],[nan],[nan],"['Flig', 'Flig', 'Flig', 'Flig', 'Flig', 'Pass...","['FATL', 'MINR', 'NONE', 'SERS', 'TOTL', 'NONE..."
3,3,20080109X00036_1,['N'],['NONE'],['N'],['SUBS'],['NONE'],['NONE'],['Micco Aircraft Company'],['MAC-145B'],...,['NONE'],['No'],[Timestamp('2006-11-01 00:00:00')],[nan],[nan],[False],[nan],[nan],"['Flig', 'Flig', 'Flig', 'Flig', 'Flig']","['FATL', 'MINR', 'NONE', 'SERS', 'TOTL']"
4,4,20080111X00038_1,['N'],['IFR'],['Y'],['MINR'],[nan],[nan],['Boeing'],['737-400'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28572,28572,20241029195408_1,['N'],[nan],[nan],[nan],[nan],[nan],['DIERENFIELD DEVIN'],['RV-6A'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28573,28573,20241029195410_1,['N'],[nan],[nan],[nan],[nan],[nan],['GOSSELIN MARK J'],['ZODIAC 601 HDS'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28574,28574,20241030195412_1,['N'],[nan],[nan],[nan],[nan],[nan],['AIRBUS'],['A300 F4-622R'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28575,28575,20241030195414_1,['N'],[nan],[nan],[nan],[nan],[nan],['BOEING'],['787'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28576,28576,20241030195417_1,['N'],[nan],[nan],[nan],[nan],[nan],['SOCATA'],['TBM 700'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Flig', 'Flig', 'Pass', 'Pass']","['MINR', 'TOTL', 'MINR', 'TOTL']"